.cgs-posts-list p {
	border-bottom: 1px dotted #bdbdbd;
}

.media h4 {
	margin-top: 2px;
	margin-bottom: 2px;
	color: #777777;
	font-family: 'Roboto Condensed', sans-serif;
}

div.media {
	margin-bottom: 10px;
}

a.btn {
	color: #ffffff !important;
	margin-top: 2px;
}

a.powered-by {
	font-size: 75%;
	margin-top: 5px;
}
